ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;

}
/* Navbar container */
.navbar {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Navbar logo */
  .navbar__logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  /* Navbar links */
  .navbar__links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;

  }
  
  /* Navbar link item */
  .navbar__link-item {
    margin-right: 10px;
    display: inline-block;
    
  }
  
  /* Navbar link */
  .navbar__link {
    color: #333;
    text-decoration: none;
  }
  
  /* Navbar link on hover */
  .navbar__link:hover {
    text-decoration: underline;
  }
  
  /* Active navbar link */
  .navbar__link--active {
    font-weight: bold;
  }

  

/* 
header.navbar {
  background-color: yellow
  padding: 10px;
  margin-bottom: 20px;
} */